footer {
    font-size: 10px;
    padding-top: 20px;
}
.data {
    color: #363;
    padding-left: 6px;
}
#content td {
    font-size: 12px;
    padding-top: 2px;
}
.button {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color:#fff;
    border:none; 
    border-radius:10px; 
}
